<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.laurentianvrapp">
    <uses-sdk android:targetSdkVersion="22" android:minSdkVersion="19"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Laurentian VR"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:noHistory="true"
        >

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SimpleVrPanoramaActivity" android:screenOrientation="landscape" android:noHistory="true" >
            <intent-filter>
                <category android:name="com.google.intent.category.CARDBOARD"/>
            </intent-filter>
        </activity>

        <activity android:name=".SimpleVrVideoActivity" android:screenOrientation="landscape" android:noHistory="true" >
            <intent-filter>
                <category android:name="com.google.intent.category.CARDBOARD"/>
            </intent-filter>
        </activity>


    </application>
    <!-- These permissions are used by Google VR SDK to get the best Google VR headset profiles. !-->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>
